.container-1{
    max-width: 1280px;
    padding: 1rem 1rem;
    margin: auto;
}

.container-2{
    max-width: 1000px;
    padding: 1rem 1rem;
    margin: auto;
}

.bg-dark{
    background: $dark-color;
    color: $light-color-2;
}

h1{
    font-family: 'Bree Serif', serif;
    font-size: 3.7rem;
    padding: 0.5rem 1rem;
}

h2{
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-weight: lighter;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 0rem;
    font-weight: lighter;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    padding: 0.25rem 1rem;
}

li{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    padding: 0.2rem 1rem;
}

ul{
    list-style: none;
}

a{
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    color: $light-color-2;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.current{
    border-bottom-color: $light-color;
}

.line-break{
    background: $main-color;
    height: 1px;
    margin: 0.2rem 0;

}

.s-item{
    display: flex;
    p{
        flex: 1;
    }
    .s-bar{
        flex: 6;
        background: $light-color-2;
        font-size: 0.9rem;
        margin: 0.25rem 1rem;
        margin-right: 3rem;
        border-radius: 5px;

        &-fill{
            height: 100%;
            background: $main-color;
        }
    }
}